Strings

In [1]:
print('Prashant Singh King Of Hell')

Prashant Singh King Of Hell

In [2]:
A=('Prashant Singh - One And Only Ruler Of Iron Throne')

In [3]:
print(type(A))

<class 'str'>

In [4]:
print(len(A))

50

In [5]:
print(A[:3:-3])

er rfruyOne hith

In [6]:
print(A[3:5])

sh

In [15]:
print(A[-1:-12:-1])

enorhT norI

In [13]:
print(A[-11:])

Iron Throne

In [16]:
print(A.upper())

PRASHANT SINGH - ONE AND ONLY RULER OF IRON THRONE

In [17]:
print(A[::])

Prashant Singh - One And Only Ruler Of Iron Throne

In [19]:
print(A[-21:-35:-1])

 ylnO dnA enO

In [27]:
print(A[-21:-35:-1])

 ylnO dnA enO

In [28]:
X='Lucifer also KNow AS King OF HeLL kNow By MaNy NaMeS AND one is prashant singh'

In [29]:
len(X)

77

In [37]:
print(X[:13]+X[13:34].upper()+X[34:47].lower()+X[47:53].upper()+X[53:57].lower()+X[57:61].upper()+X[61:64].lower()+X[64:].upper())

Lucifer also KNOW AS KING OF HELL know by many NAMES and ONE is PRASHANT SING

In [42]:
Y='ROCK - '
Z="The Death Reaper"
W="aka Prashant Singh"

In [47]:
print(" "+Y+Z+' '+W+' ')

 ROCK - The Death Reaper aka Prashant Singh

In [54]:
V=' ROCK - The Death Reaper aka Prashant Singh '

In [55]:
print(V.strip())
print(V.rstrip())
print(V.lstrip())

ROCK - The Death Reaper aka Prashant Singh
 ROCK - The Death Reaper aka Prashant Singh
ROCK - The Death Reaper aka Prashant Singh

In [56]:
R=V.strip()

In [53]:
print(R.split())

['ROCK', '-', 'The', 'Death', 'Reaper', 'aka', 'Prashant', 'Singh']

In [57]:
L="The 92FS/98FS Fusion pistol is the result of a careful design research, with the objective strike the perfect balance, namely the fusion, between tradition and innovation."

In [61]:
print(L.split(","))

['The 92FS/98FS Fusion pistol is the result of a careful design research', ' with the objective strike the perfect balance – namely the fusion – between tradition and innovation. ']

In [63]:
Q='Uchiha Madara Made True Definition Of Reaity'
print(Q.find('Made'))
print(Q.rfind('Madara'))
print(Q.replace('U','H'))

14
7
Hchiha Madara Made True Definition Of Reaity

In [64]:
x='Uchiha Madara'
y=x+" Has RekodSennin's Power "
print(y)

Uchiha Madara Has RekodSennin's Power

In [65]:
x='Uchiha Madara'
y=' Has Gained The Power Of Rinnegan'
print(f'{x}{y}')

Uchiha Madara Has Gained The Power Of Rinnegan

In [66]:
Type=3
Murdered=5000000
Uchiha='Madara has {} types of power and with that power he has killed {} humans.'
print(Uchiha.format(Type,Murdered))

Madara has 3 types of power and with that power he has killed 5000000 humans.

In [69]:
TNT="Trinitrotoluene, or more specifically \"2,4,6-trinitrotoluene\", is a chemical compound with the formula \\C₆H₂(NO₂)₃CH₃."
print(TNT)

Trinitrotoluene, or more specifically "2,4,6-trinitrotoluene", is a chemical compound with the formula \C₆H₂(NO₂)₃CH₃.

In [70]:
TNT='TNT \ris used for explosion'
print(TNT)

is used for explosion

In [71]:
TNT='TNT is used for \bexplosion'
print(TNT)

TNT is used for explosion

In [77]:
S='rock AKA Prashant!!'
print(S.capitalize())
print(S.count('a'))
print(S.endswith('!'))
print(S.casefold())
print(S.center(30))
print(S.encode())

Rock aka prashant!!
2
True
rock aka prashant!!
     rock AKA Prashant!!
b'rock AKA Prashant!!'

LIST SET DICTIONARY TUPLE

In [118]:
L=[19,69,34,643,'Prashant Singh',53,33,'233',"Hell's King"]
print(L)
print(type(L))
print(L[4])
print(L[4]+' '+L[8])
print(len(L))

[19, 69, 34, 643, 'Prashant Singh', 53, 33, '233', "Hell's King"]
<class 'list'>
Prashant Singh
Prashant Singh Hell's King
9

In [102]:
print(L[3:7])
print(L[-1:-7:-4])

[643, 'Prashant Singh', 53, 33]
["Hell's King", 'Prashant Singh']

In [103]:
for i in L:
    print(i)

19
69
34
643
Prashant Singh
53
33
233
Hell's King

In [104]:
print(L[:5])
print(L[-3:])
print(L[5:])
print(L[:-6])

[19, 69, 34, 643, 'Prashant Singh']
[33, '233', "Hell's King"]
[53, 33, '233', "Hell's King"]
[19, 69, 34]

In [105]:
for i in reversed(L):
    print(i)

Hell's King
233
33
53
Prashant Singh
643
34
69
19

In [100]:
l=[23,44,66,222,55,22,'ROCK',2412,"Iron Throne"]

In [106]:
l.append('Age:21')
print(l)

[23, 44, 66, 222, 55, 22, 'ROCK', 2412, 'Iron Throne', 'Age:21']

In [107]:
l.insert(5,'352')
print(l)

[23, 44, 66, 222, 55, '352', 22, 'ROCK', 2412, 'Iron Throne', 'Age:21']

In [108]:
l.remove('352')
print(l)
l.pop(7)
print(l)

[23, 44, 66, 222, 55, 22, 'ROCK', 2412, 'Iron Throne', 'Age:21']
[23, 44, 66, 222, 55, 22, 'ROCK', 'Iron Throne', 'Age:21']

In [167]:
l1=[34,22,55,22,689]
print(69 in l1)

False

In [117]:
t=(23,44,55,11,67,'Lucifer')
print(t)
print(type(t))
print(len(t))

(23, 44, 55, 11, 67, 'Lucifer')
<class 'tuple'>
6

In [116]:
t=('S','O','N','G','O','K','U')
for i in t:
    print(i)
print('In Reverse')
for i in reversed(t):
    print(i)
print("In Slicing Form")
for i in t[3:7]:
    print(i)
print('In Reversed Form')
for i in reversed(t[-5:-8:-1]):
    print(i)

S
O
N
G
O
K
U
In Reverse
U
K
O
G
N
O
S
In Slicing Form
G
O
K
U
In Reversed Form
S
O
N

In [119]:
T=(33,46,11,48,47,95,1,453,69)
print('Max Value',max(T))
print('Min Value',min(T))

Max Value 453
Min Value 1

In [122]:
T1=(23,44,55)
L1=[23,44,69]
print(type(T1))
print(type(L1))
print("List To Tuple Conversion")
print(tuple(L1))
print('Tuple To List Conversion')
print(list(T1))

<class 'tuple'>
<class 'list'>
List To Tuple Conversion
(23, 44, 69)
Tuple To List Conversion
[23, 44, 55]

In [126]:
S={'Prashant Singh','23',34,66,22,79,'Vegeta'}
print(S)
print(type(S))
for i in S:
    print(i)

{'Vegeta', 34, 66, 'Prashant Singh', '23', 79, 22}
<class 'set'>
Vegeta
34
66
Prashant Singh
23
79
22

In [127]:
print(len(S))

7

In [128]:
print('23' in S)
print('Vegeta' not in S)

True
False

In [129]:
S.add('Age:21')
print(S)

{'Vegeta', 34, 66, 'Prashant Singh', '23', 79, 22, 'Age:21'}

In [131]:
S.update(['Vegeta','Prashant Singh',66,79,22,34,'23','Age:21',69])
print(S)

{'Vegeta', 34, 66, 69, 'Prashant Singh', '23', 79, 22, 'Age:21'}

In [133]:
S.discard('Age:21')
S.discard('23')
print(S)

{'Vegeta', 34, 66, 69, 'Prashant Singh', 79, 22}

In [135]:
X={'Vegeta','Son Goku','Buu',34,12,56}
Y={'Broly','Vegeta',44,12,56,44}
Z={'Zeno','Son Goku',12,34,56}
print(X.difference(Y))
print(Z.difference(X))
print(X.intersection(Z))
print(X.intersection(Z,Y))

{'Buu', 34, 'Son Goku'}
{'Zeno'}
{56, 34, 12, 'Son Goku'}
{56, 12}

In [137]:
A={'P','R','A','S','H','A','N','T'}
B={'A','N','T'}
C={'S','I','N','G','H'}
print(B.issubset(A))
print(C.issubset(A))

True
False

In [138]:
A={'P','R','A','S','H','A','N','T'}
B={'A','N','T'}
C={'S','I','N','G','H'}
print(A.issuperset(B))
print(A.issuperset(C))

True
False

In [159]:
S1={'Susano','23',34,22,11}
S2=frozenset(S1)

In [160]:
print(S2)
print(type(S2))

frozenset({34, 'Susano', 22, 11, '23'})
<class 'frozenset'>

In [139]:
D={'Name':'Prashant',
   'Age':21,
    'Nick':'Rock'
}

In [140]:
print(D)
print(type(D))

{'Name': 'Prashant', 'Age': 21, 'Nick': 'Rock'}
<class 'dict'>

In [141]:
X=D['Nick']
print(X)

Rock

In [142]:
D['Nick']='Lucifer'
print(D)

{'Name': 'Prashant', 'Age': 21, 'Nick': 'Lucifer'}

In [143]:
for i in D:
    print(i)

Name
Age
Nick

In [144]:
for i in D.values():
    print(i)

Prashant
21
Lucifer

In [145]:
D['Last Name']='Singh'
print(D)

{'Name': 'Prashant', 'Age': 21, 'Nick': 'Lucifer', 'Last Name': 'Singh'}

In [146]:
if 'Nick' in D:
    print("Key Exist In Dict.")
else:
    print('Key Doesn"t Exist ')

Key Exist In Dict.

In [147]:
if 'Last' in D:
    print("Key Exist In Dict.")
else:
    print('Key Doesn"t Exist ')

Key Doesn"t Exist

In [148]:
D.pop('Age')
print(D)

{'Name': 'Prashant', 'Nick': 'Lucifer', 'Last Name': 'Singh'}

In [149]:
Mobiles={
    
    'Redmi':{
        'K20 Pro':'6GB RAM, 128GB Storage, 48Mega Pixel',
        'MI 10':'8GB RAM, 268GB Storage, 108Mega Pixel',
        'Redmi Note 7Pro':'6GB RAM, 128GB Storage, 48Mega Pixel'
    },
    'OnePlus':{
        'OnePlus 6':'6GB RAM, 48GB Storage, 20Mega Pixel',
        'Oneplus 7TPro':'8GB RAM, 256GB Storage, 48Mega Pixel',
        'OnePlus 8Pro':'12GB RAM, 256GB Storage, 108Mega Pixel'
    },
    'Apple':{
        'Iphone 9':'6GB RAM, 128GB Storage, 48Mega Pixel',
        'Iphone 10':'8GB RAM, 256GB Storage, 48Mega Pixel',
        'Iphone 11':'12GB RAM, 256GB Storage, 108Mega Pixel'
    }
}
print(Mobiles)

{'Redmi': {'K20 Pro': '6GB RAM, 128GB Storage, 48Mega Pixel', 'MI 10': '8GB RAM, 268GB Storage, 108Mega Pixel', 'Redmi Note 7Pro': '6GB RAM, 128GB Storage, 48Mega Pixel'}, 'OnePlus': {'OnePlus 6': '6GB RAM, 48GB Storage, 20Mega Pixel', 'Oneplus 7TPro': '8GB RAM, 256GB Storage, 48Mega Pixel', 'OnePlus 8Pro': '12GB RAM, 256GB Storage, 108Mega Pixel'}, 'Apple': {'Iphone 9': '6GB RAM, 128GB Storage, 48Mega Pixel', 'Iphone 10': '8GB RAM, 256GB Storage, 48Mega Pixel', 'Iphone 11': '12GB RAM, 256GB Storage, 108Mega Pixel'}}

In [150]:
Redmi={
        'K20 Pro':'6GB RAM, 128GB Storage, 48Mega Pixel',
        'MI 10':'8GB RAM, 268GB Storage, 108Mega Pixel',
        'Redmi Note 7Pro':'6GB RAM, 128GB Storage, 48Mega Pixel'
    }
OnePlus={
        'OnePlus 6':'6GB RAM, 48GB Storage, 20Mega Pixel',
        'Oneplus 7TPro':'8GB RAM, 256GB Storage, 48Mega Pixel',
        'OnePlus 8Pro':'12GB RAM, 256GB Storage, 108Mega Pixel'
    }
Apple={
        'Iphone 9':'6GB RAM, 128GB Storage, 48Mega Pixel',
        'Iphone 10':'8GB RAM, 256GB Storage, 48Mega Pixel',
        'Iphone 11':'12GB RAM, 256GB Storage, 108Mega Pixel'
    }
Mobiles={
    'Redmi':Redmi,
    'OnePlus':OnePlus,
    'Apple':Apple
}
print(Mobiles)

{'Redmi': {'K20 Pro': '6GB RAM, 128GB Storage, 48Mega Pixel', 'MI 10': '8GB RAM, 268GB Storage, 108Mega Pixel', 'Redmi Note 7Pro': '6GB RAM, 128GB Storage, 48Mega Pixel'}, 'OnePlus': {'OnePlus 6': '6GB RAM, 48GB Storage, 20Mega Pixel', 'Oneplus 7TPro': '8GB RAM, 256GB Storage, 48Mega Pixel', 'OnePlus 8Pro': '12GB RAM, 256GB Storage, 108Mega Pixel'}, 'Apple': {'Iphone 9': '6GB RAM, 128GB Storage, 48Mega Pixel', 'Iphone 10': '8GB RAM, 256GB Storage, 48Mega Pixel', 'Iphone 11': '12GB RAM, 256GB Storage, 108Mega Pixel'}}

Type Casting

In [151]:
print(bool(0))
print(bool(34+44j))
print(bool('Prashant'))

False
True
True

In [155]:
print(complex(20))
print(complex(233.56))
print(complex(23,69))
print( complex(False))
print( complex(True))

(20+0j)
(233.56+0j)
(23+69j)
0j
(1+0j)

In [156]:
print(float(33))
print(float(20+2j))

33.0

TypeError: can't convert complex to float

In [158]:
print(int(True))
print(int(69.66))

1
69

In [162]:
X=int(input('Enter The First Number'))
Y=float(input('Enter The Second Number'))
print(X>Y)
print(X<Y)
print(X==Y)
print(X!=Y)
print(X>=Y)
print(X<=Y)

Enter The First Number33
Enter The Second Number56
False
True
False
True
False
True

In [163]:
Y=int(input("Enter The Number"))
print( Y < 55 or Y > 25)
print(Y < 55 and Y > 25)
print(not Y)

Enter The Number45
True
True
False

In [165]:
X=int(input('Enter The First Number'))
Y=int(input('Enter The Second Number'))
print(X & Y)
print(X | Y)
print(~X)
print(~Y)
print(X^Y)

Enter The First Number34
Enter The Second Number22
2
54
-35
-23
52

In [166]:
X = int(input("Enter The Number:"))
Y = int(input("Enter The Number"))
print(X is Y)
print(X is not Y)

Z='Prashant'
V='Prashant'
print(Z is V)
print(Z is not V)

Enter The Number:23
Enter The Number23
True
False
True
False